@model IEnumerable<AdvancedDBAndORM_Assignment1.Models.ModelVM.PodcastVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.PodcastID">Details</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
